* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box; // Include padding and border in element's total width and height
  }
  
  body {
    background: #f4f4f4; // Light background color
  }
  
  .box {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .box-items {
      cursor: pointer;
      margin: 5px;
      border-radius: 9px; // Slightly rounded corners
      padding: 12px;
      color: #fff;
      background: #3b4851; // Dark background color
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // Subtle box shadow
      
    
      &.seats {
        width: 45%;
      }
    
      &::placeholder {
        color: #fff;
      }
    
      &:hover {
        background: #2980b9;
      }
    
      &.selected {
        background: #6f9d9d; // Lighter background color for selected items
      }
    }
  }

.last-order {
  border-radius: 10px;
  border: 1px black ridge;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
  
h2 {
  color: #2c4658;
  margin-bottom: 10px; // Add some space below h2 elements
}
b {
  color: #152031;
}
  
  // Media queries for responsiveness
  @media screen and (min-width: 768px) {
    .box {
      .box-items {
        width: 48%;
      }
    }
  }
  
  @media screen and (min-width: 992px) {
    .box {
      .box-items {
        width: 31%;
      }
    }
  }
  